#EmployeeHomediv{
    margin-left:0;
    padding:0;
    height:100vh;
    background-color:#f4f4f9;
} 
#header15{
    height: 60px;
      width: 100%;
      background-color: black;
      display: flex;
      padding-top:20px;
      padding-bottom: 20px;
      position: fixed;
      margin-top: 0px;
     justify-content: space-between;
  }
  #paradiv15{
    display: flex;
  
  }
  #jobdetails15{
    color: #5a7f65;
    font-size: 30px;
    margin: 20px 90px 0px 0px;
    font-weight: bold;
    cursor: pointer;
} 
#logout{
    color: #5a7f65;
    font-size: x-large;
    margin: 20px 19px 20px 0px;
    font-weight: bold;
    cursor: pointer;
}
#paradiv25{
    display: flex;
    margin-right: 50px;
}
.bottom15{
    background-color:#f4f4f9;
    width:100vw;
    height: 100%;
}
.applicant-list15 {
    background-color:#f4f4f9;
    display: flex;
    flex-direction: column;
    width:100%;
    height:100%;
    padding-top: 120px;
  }
  .applicant-card15 {
    background: #ffff;
    padding: 15px;
    border-radius: 6px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    text-align: left;
    height:480px;
    margin: 20px 50px 0px 50px;
  }
  #jobname15{
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    padding:0px;
    margin: 0px;
    color: #5a7f65;
  }
  #buttondiv152{
    display: flex;  
    width: 100%;
    height:50px;
  }
  #numberbutton{
    width:150px;
    height:35px;
    border-radius: 4px;
    color: #ffffff;
    font-size: medium;
    background-color: #5a7f65;
    border: none;
    cursor: pointer;
  }
  #interested{
    width:90px;
    height:35px;
    border-radius: 4px;
    color: #ffffff;
    font-size: medium;
    background-color: #5a7f65;
    border: none;
    cursor: pointer;
  }
  #buttondiv15{
    padding-top: 15px;
    margin: 0px;
  }
  #buttondiv25{
    padding-top: 15px;
    /* margin-left:20px; */
  }
.sal{
    display: flex;
}
#salary15{
    width:100px;
}
#salary25{
    width:100px;
}
#minsal{
    margin: 0;
    color: #5a7f65;
}
#maxsal{
    margin: 0;
    color: #5a7f65;
    /* font-weight: 100px; */
}
.filters{
    margin-left:50px;
    margin-right: 50px;
}
#firstselect{
    margin-left: 60px;
}
#secondselect{
    margin-left: 60px;
}
#Thirdselect{
    margin-left: 60px;
}
.filter-btn{
    margin-left: 60px;
    background-color: #5a7f65;
    color: #ffff;
    width:200px;
    height:40px;
    font-size: medium;
    border-radius: 4px;
    cursor: pointer;
    border: none;
}
.otherdata{
    color: #5a7f65;
}